<?xml version='1.0' encoding='utf-8'?> <!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
<!--         <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost</property>
 -->        <property name="hibernate.connection.url">jdbc:hsqldb:file:sample_db;shutdown=false</property>

        <property name="hibernate.connection.username">sa</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        
        <!--  2nd level cache setting -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
        
<!--         <property name="hibernate.hbm2ddl.auto">create-drop</property>
 -->
<!--  Example for Oracle DB
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
  <property name="hibernate.connection.username">scott</property>
  <property name="hibernate.connection.password">tigger</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
 -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- SQL to stdout logging -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
           

        <mapping resource="hello/Message.hbm.xml"/>

    </session-factory>
</hibernate-configuration>